body, html {
	/* background: url('../img/background.png'); */
	color: #333;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Droid Sans", sans-serif;
	line-height: 1.5em;
}

a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #f50;
}
h2 {
	color: #f50;
	font-size: 1.2em;
}
h3 {
	color: #f50;
	font-weight: normal;
	font-size: 1.2em;
}

button {
	color: #fff;
	background: #333;
	padding: 10px 20px;
	border: none;
	font-size: 0.75em;
}
button:hover {
	background: #f50;
}
button:focus {
	outline: none;
	padding: 9px 19px;
	border: solid 1px #fff;
	box-shadow: 0 0 0 1px #f50;
}

.head_label {
	color: #f50;
}

/* HEADER */
header {
	background: #fff;
	max-width: 100%;
	height: 75px;
	position: relative;
	padding: 0 50px;
	/* border-left: solid 5px #f50; */
	box-shadow: 0 0 10px #000;
}
/* logo */
header #logo {
	background: url('../img/logo.png') no-repeat;
	width: 250px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin: -20px 0 0 0;
	text-indent: -100%;
}
header #logo:hover {
	background-position: 0 -40px;
}
header #logo a {
	position: absolute;
	border: dotted 1px #f00;
}
/* navigation */
header nav {
	position: absolute;
	top: 50%;
	right: 50px;
	margin: -1.6em 0 0 0;
}
header nav li {
	float: left;
	margin: 0 50px;
}
header nav li a {
	color: #333;
}
header nav li a:hover {
	color: #f50;
	text-decoration: none;
	cursor: pointer;
}

/* CONTENT */
#content {
	padding: 50px;
}
/* banner */
#banner {
	color: #fff;
	background: url('../img/bubbles.jpg');
	padding: 75px 0;
	text-align: center;
	text-shadow: 0 0 5px #000;
	box-shadow: inset 0 0 10px #000;
	font-size: 1.2em;
}
#banner p {
	font-size: 1.5em;
}
/* services */
#services {
	width: 50%;
	min-width: 960px;
	margin: 75px auto;
}
.service_wrap {
	width: 33%;
	min-width: 320px;
	float: left;
}
.service {
	background: #fff;
	padding: 20px 50px;
	text-align: center;
	font-size: 1.2em;
}
.service_icon {
	width: 64px;
	height: 40px;
	margin: 0 auto;
}
.service#design {
	border: solid 1px #ddd;
	border-top: none;
	border-bottom: none;
}
#service_icon_webdev {
	background: url('../img/icons/services.png') no-repeat;
}
#service_icon_design {
	background: url('../img/icons/services.png') no-repeat;
	background-position: -69px 0;
}
#service_icon_hosting {
	background: url('../img/icons/services.png') no-repeat;
	background-position: -138px 0;
}
.service_ad {
	font-style: italic;
	font-weight: bold;
	font-size: 0.8em;
}
.service_desc {
	height: 85px;
	font-size: 0.8em;
}
.service h2 {
	margin: 25px 0;
}
/* portfolio */
#portfolio {
	width: 1250px;
	margin: 25px auto;
}
.portfolio_item {
	background: #fff;
	width: 250px;
	display: inline-block;
	float: left;
	padding: 20px 10px 10px 10px;
	border: solid 1px #ddd;
	margin: 20px;
}
.portfolio_item_img {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.portfolio_item_img img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.portfolio_item h3 {
	padding: 20px 0;
	border: solid 1px #ddd;
	border-left: none;
	border-right: none;
	margin: 25px 0 10px 0;
	text-align: center;
}
.portfolio_item p {
	color: #555;
	text-align: center;
}
/* contact */
#contact {
	margin: 0 auto;
}
#contact, #contact ul {
	width: 300px;
	list-style: none;
	padding: 0;
}
#contact ul {
	padding: 25px;
	border: solid 1px #ddd;
	border-left: none;
	border-right: none;
	margin: 25px 0;
}
#contact ul li {
	line-height: 1.75em;
}
.social_icons {
	background: url('../img/icons/social.png') no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin: 5px 0 5px 10px;
}
#social_icons_skype {
	background-position: -21px 0;
}
#social_icons_kik {
	background-position: -42px 0;
}
#social_icons_hangouts {
	background-position: -63px 0;
}
#social_icons_telegram {
	background-position: -84px 0;
}
#social_icons_gmail {
	background-position: -105px 0;
}

/* FOOTER */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px;
}
footer {
	background: #fff;
	color: #aaa;
	height: 24px;
	padding: 5px 0;
	border-top: dotted 1px #ddd;
	text-align: center;
	font-size: 0.75em;
}
.push {
	height: 35px;
}
